body{
margin:0;
padding:0;
background-color:#34495e;
}
form
{
width:300px;
padding:40px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#191919;
text-align:center;
height:50%;
}
p
{

text-align:center;
color:white;
font-size:35px;
}


form input
{
border:0;
background:none;
display:block;
margin:20px auto;
text-align:center;
border:2px solid #3498db;
padding:14px 10px;
width:200px;
outline:none;
color:white;
border-radius:24px;
transition:width 2s,border 2s;
}

input[type="submit"]
{
height:45px;
width:120px;
color:white;
transition:0.8s ease;
transition-delay:background-color 2s;
border:2px solid #2ecc71;
}
input[type="password"]:focus,input[type="text"]:focus
{
border:2px solid #2ecc71;
width:260px;
}
input[type="submit"]:hover
{
background-color:#2ecc71;
}